.cards {
    display: flex;
    gap: 20px;
    padding: 20px;

}

.card {
flex: 20px;
background-color: blanchedalmond;
padding: 20px;
border-radius: 12px;
box-shadow: 0 4px 8px  darkcyan;
text-align: center;
font-family: Arial, Helvetica, sans-serif;

}

.h3 {
margin-top: 0;
}
body{justify-content: space-between;}
