html,body{
    height: 100%;
    margin: 0%;
}
body{display: flex;
    flex-direction: column;

}
footer {
    background: rgb(19, 107, 165);
    color: rgb(206, 203, 23);
    padding: 10px 20px;
    text-align: center;
}
.footer-links {
    margin-bottom: 10px;
}
.footer-links-a{ 
    color: red;
    margin: 0 10px;
    text-decoration: none;
    opacity: 0,85;
}
.footer-links-a:hover {
opacity: 1;
text-decoration: underline;
}
 main {
    flex: 1;
}

.button{
    background-color: rgb(0, 0, 0);
    color: beige;
    border: 10px rgb(255, 0, 0);
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(60, 61, 61);
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.button:hover {
  background-color: rgb(231, 172, 9);
    color: beige;
    border: 100px black;
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(163, 162, 74);
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}
