/*cards*/
.cards {
    display: flex;
    gap: 20px;
    padding: 20px;

}

.card {
flex: 20px;
background-color: rgb(196, 186, 51);
padding: 20px;
border-radius: 12px;
box-shadow: 0 4px 8px  rgb(177, 179, 61);
text-align: center;
font-family: Arial, Helvetica, sans-serif;

}

.h3 {
margin-top: 0;
}
body{justify-content: space-between;}



/*navbar*/
body{text-align: top;}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: rgb(47, 105, 153);
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;

}
a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 18px;
}
.navbar .logo {
    font-size: 22px;
    font-weight: bold;
}
.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;   
}
.button{
    background-color: rgb(0, 0, 0);
    color: beige;
    border: 10px rgb(255, 0, 0);
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(60, 61, 61);
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.button:hover {
  background-color: rgb(231, 172, 9);
    color: beige;
    border: 100px black;
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(163, 162, 74);
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}




/*footer*/
html,body{
    height: 100%;
    margin: 0%;
}
body{display: flex;
    flex-direction: column;

}
footer {
    background: rgb(52, 121, 177);
    color: rgb(206, 203, 23);
    padding: 10px 20px;
    text-align: center;
}
.footer-links {
    margin-bottom: 10px;
}
.footer-links-a{ 
    color: red;
    margin: 0 10px;
    text-decoration: none;
    opacity: 0,85;
}
.footer-links-a:hover {
opacity: 1;
text-decoration: underline;
}
 main {
    flex: 1;
    background-color: rgb(85, 144, 212);
}
